.ant-dropdown-trigger {
    color: white;
    font-size: larger;
}


.options-container{
    /* background-color: #10072e; */
    justify-content: space-between;
    margin: auto;
    max-width: max-content;
}

.Menu {
    color: white;
}

.profile {
    display: flex;
    justify-content: center;
    border-style: inset;
    width: max-content;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 700px;
    padding: 30px;
    border-radius: 5px;
    background-color: lightblue;
    border: 2px solid #f1f1f1;
}

.dataframe {
    justify-content: center;
}

.submit {
    /* background-color: rgb(52, 123, 214); */
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    position: relative;
    justify-content: center;
    margin: auto;
}

.sort-btn-container{
    /* background-color: firebrick ; */
}

.submit:hover {
    transition-duration: 1s;
    background: linear-gradient(to right, #0d043f, #10072e);
    cursor: pointer;
}

.submit:active {
    top: -1px;
}

h1 {
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

.barDiv {
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    text-align: center;
    min-height: 300px;
    /* background-color: blue; */
    margin: auto;
}

.barDiv .selection-box {
    padding-top: 45px;
}

.sign {
    padding-top: 40px;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.op {
    color: #8c55aa;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.alg-img {
    height: 300px;
    text-align: center;
}

.imgDiv {
    padding: 20px;
}

.dropdown {
    padding: 10px;
}

.game-div   {
    min-height: 56vh;
    background-color: white;
}

.expand{
    color: white;
}

.expandDiv{
    justify-content: center;
    display: flex;
}