.ant-dropdown-trigger {
  color: white;
  font-size: larger;
}

.Menu {
  color: white;
}

.profile {
  display: flex;
  justify-content: center ;
  border-style: inset;
  width: max-content;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 700px;
  padding: 30px;
  border-radius: 5px;
  background-color: lightblue;
  border: 2px solid #f1f1f1;
}

.dataframe{
    display: flex;
    justify-content: center;
}

.submit-btn > button {
  /* background-color: rgb(52, 123, 214); */
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 25%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
