.btn{
    margin: 10px;
    background-color: beige;
    color: black;
    border-color: white;
    width: 200px;
}

#title{
    color:black;
    font-size: calc(10px + 2vmin);
    margin: 50px;
  }

  #menu{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #menu-body{
    background-color: lightblue;
    height: 100vh;
  }

  .logoutbtn{
    background-color: transparent;
    border: none;
  }