.listBlocks {
    margin: 0 auto;
    min-height: 520px;
    min-width: 90%;
    text-align: center;
    list-style-type: none;
    display: flex;
}

.listBlocks li {
    margin: 1px;
}

.listBlocks .block {
    background-color: turquoise;
    color: #282c34;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 0 2px;
    text-align: center;
    transition-duration: 150ms;
    transition-property: height;
    transition-timing-function: ease-in;
}

.lives{
    display: flex;
    justify-content: space-between;
    max-width: 70px;
    min-height: 30px;
    margin: auto;
}

.lives * {
    color: rgb(227,27,35);
    font-size: 20px;
}
