.game   {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 450px;
    min-width: 850px;
    margin: 90px;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    border-radius: 25px;
}

.stepCounter{
    color: white;
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    align-items: center;
    margin: 5px auto;
    text-transform: uppercase;
}