.game   {
    background-color: white;
    min-height: 450px;
    min-width: 850px;
    margin: 90px;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    border-radius: 25px;
}

.stepCounter{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}