body {
  background-color: lightblue;
}

#title {
  color: black;
  font-size: calc(10px + 2vmin);
  margin: 50px;
}

#game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.radial-menu {
  background-image: linear-gradient(#7ee8fa, #eec0c6);
  width: 80px;
  height: 80px;
  margin: auto;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 50px;
  color: white;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.32),
    -1px -3px 5px rgba(0, 0, 0, 0.13) inset,
    1px 3px 4px rgba(236, 69, 151, 0.3) inset;
  right: 0;
  bottom: 0;
}
.radial-menu:hover {
  background-image: linear-gradient(#7ee8fa, #eec0c6);
}
.larger-area {
  background: transparent;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  z-index: -3;
  transition: 1s ease;
  cursor: default;
}
.radial-menu:hover .larger-area {
  width: 80px;
  height: 80px;
  transition: 1s ease;
}
.menu-item {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  border-radius: 50%;
  top: calc(50% - 25px);
  left: 50%;
  transform-origin: 0;
  transition: 1s ease;
  font-size: 30px;
  color: #2e2e2e;
}
.radial-menu:hover .menu-item {
  top: -60px;
  left: 0;
  transition: 1s ease;
  transform-origin: calc(100%) calc(100% + 60px);
}
._1 {
  background-image: linear-gradient(#eafdf9, #bdddd7);
  transform: rotate(0);
}
._1:hover {
  background-image: linear-gradient(hsl(167, 13%, 77%), #93a8a4);
  transition: background-image 0s;
}
._1 > div {
  transform: rotate(0);
  transition: 1s ease;
}
.radial-menu:hover ._1 > div {
  transform: rotate(calc(360deg));
  transition: 1s ease;
}
._2 {
  background-image: linear-gradient(-90deg, #b09aff, #7a64ca);
  transform: rotate(-45deg);
}
._2:hover {
  background-image: linear-gradient(-90deg, #7f6cc1, #524387);
  transition: background-image 0s;
}
._2 > div {
  transform: rotate(0);
  transition: 1s ease;
}
.radial-menu:hover ._2 > div {
  transform: rotate(calc(45deg + 360deg));
  transition: 1s ease;
}
._3 {
  background-image: linear-gradient(-90deg, #fde7ea, #ddbec3);
  transform: rotate(-90deg);
}
._3:hover {
  background-image: linear-gradient(-90deg, #d7c2c5, #ae9297);
  transition: background-image 0s;
}
._3 > div {
  transform: rotate(0);
  transition: 1s ease;
}
.radial-menu:hover ._3 > div {
  transform: rotate(calc(90deg + 360deg));
  transition: 1s ease;
}

@keyframes rot {
  100% {
    transform: rotate(360deg);
  }
}
